<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mailogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mailogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mai"
        tools:targetApi="31">
        <activity
            android:name=".Gmengz_PlayMusic"
            android:exported="false"/>
        <activity
            android:name=".Tena_PlayMusic"
            android:exported="false"/>
        <activity
            android:name=".LibrabryActivity"
            android:exported="false"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".SearchActivity"
            android:exported="false"/>
        <activity
            android:name=".Vanda_PlayMusic"
            android:exported="false"/>
        <activity
            android:name=".PlayMusic"
            android:exported="false"/>
        <activity
            android:name=".SignUp"
            android:exported="false"/>
        <activity
            android:name=".SecondActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>